<div class="container">
  <header>
    <h1>Bats</h1>
  </header>
  <%= link_to "Add a Bat", controller: "bats", action: "new" %> <br><br>

  <% @bats.each do |bat| %>
    <div>
      ID: <%= bat.id %> <br>
      Name: <%= bat.name %> <br>
      Description: <%= bat.description %>
    </div><br>
    <%= button_to "Edit", { action: "edit", id: bat.id }, method: :edit, data: { confirm: "Are you sure?" }, :class => "btn btn-danger" %><br>
    <%= button_to "Delete", bat, method: :delete, :class => "btn btn-danger" %><br>
  <% end %>
</div>
